doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/modernizr/modernizr.js')
  body
    block content
    script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main')
